<div class="u-blog-post u-container-style u-repeater-item u-white u-repeater-item-1">
  <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
    <h4 class="u-blog-control u-text u-text-1">
      <a class="u-post-header-link" href="/exercises/{{name}}"></a>
      <header>{{name}}</header>
    </h4>
    <a class="u-post-header-link" href="/exercises/{{name}}"><img alt=""
        class="u-blog-control u-expanded-width u-image u-image-default u-image-1" src="/images/{{picture}}"></a>
    <div class="u-blog-control u-post-content u-text u-text-2 fr-view">{{description}}</div>
    <a href="../blog/post-5.html"
      class="u-blog-control u-border-2 u-border-palette-1-base u-btn u-btn-rectangle u-button-style u-none u-btn-1">Exercises</a>
  </div>
</div>


