{{!-- {{#each data}}
<section class="u-clearfix u-section-1" id="sec-6a30">
    <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-blog u-expanded-width u-repeater u-repeater-1">
            <p>{{name}}</p>
            <p>{{type}}</p>
            <p>{{difficulty}}</p>
            <p>{{equipment}}</p>
            <p>{{instructions}}</p>
            {{/each}}

        </div>
    </div>
</section> --}}



<div class="jumbotron-fluid container">
     
    <div class="card card-body-custom">
       
        <div class="card-body card-body-custom">
            {{#each data}}
            <div class="card-body card-body-custom">
            <h4 class="card.title">Workout: {{name}}</h4>
            <h5 class="card-subtitle mb-2 text-muted">Workout Type: {{type}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Difficulty: {{difficulty}}</h5>
            <h5 class="card-subtitle mb-2 text-muted">Equipment needed: {{equipment}}</h5>
            <p class="card-text">Instructions: {{instructions}}</p>
            <a href="https://www.youtube.com/results?search_query={{name}}" target="_blank" class="card-link">View videos of {{name}}</a>
            {{/each}}
        </div>
    </div>
</div>
<br>